<h1 class = "note_date jumbotron"> <img src="/img/rsz_note-taking.png" alt="" /> <%= @calendar_date %></h1>
<div class="jumbotron">
  <% if @calendar_events.any? %>
    <ul>
      <% @calendar_events.each() do |event_id| %>
        <% event = Calendar.find(event_id) %>
        <li>
        <%= event.notes() %>,
        <% if event.organizations.any?%>
          <% event.organizations.each do |org| %>
            <a href="/single_organization/<%= org.id %>"><%= org.name %></a>
          <% end %>
        </li>
        <% elsif event.openings.any?%>
          <% event.openings.each do |opening| %>
            <a href="/single_opening/<%= opening.id %>"><%= opening.name %></a>
          <% end %>
        </li>
        <% elsif event.contacts.each do |contact| %>
          <a href="/single_contact/<%= contact.id %>"><%= contact.name %></a>
        <% end %>
        </li>
          <% end %>


      <% end %>
    </ul>
  <% else %>
    <h4>No notes yet</h4>
  <% end %>

</div>
