<div class="well">
  <h3>Edit the info for <%= @contact.name %>.</h3>
  <form class="form-horizontal" action="/contact_edit/<%=@contact.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="<%= @contact.name %>">
    </div>
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="<%= @contact.title %>">
    </div>
    <div class="form-group">
      <label for="address">Address:</label>
      <input type="text" id="address" name="address" value="<%= @contact.address %>">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone" value="<%= @contact.phone %>">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value="<%= @contact.email %>">
    </div>
    <div class="form-group">
      <label for="linkedin">LinkedIn:</label>
      <input type="text" id="linkedin" name="linkedin" value="<%= @contact.linkedin %>">
    </div>
    <div class="form-group">
      <label for="context">The context of the contact:</label>
      <input type="text" id="context" name="context" value="<%= @contact.context %>">
    </div>

    <% if @organizations.any? %>
      <div class="form-group">
        <h4>Add new organizations for your contact:</h4>
        <% @contact.not_org.each do |organization| %>
        <label for="organization_ids[]"><%= organization.name %> <input type="checkbox" id="organization_ids[]" name="organization_ids[]" value="<%= organization.id %>"></label>
        <% end %>
      </div>
    <% end %>
    <% if @tags.any? %>
      <div class="form-group">
        <h4>Categories/Tags:</h4>
        <% @contact.not_tag.each do |tag| %>
        <label for="tag_ids[]"><%= tag.name %> <input type="checkbox" id="tag_ids[]" name="tag_ids[]" value="<%= tag.id %>"></label>
        <% end %>
      </div>
    <% end %>
    <button class="btn btn-info" type="submit" name="button">Submit</button>
  </form>

  <form class="" action="/contact_note" method="post">
    <input type="hidden" name="contact_id" value="<%= @contact.id %>">
    <div class="form-group">
      <label for="text">Add Notes:</label>
      <input type="text" id="text" name="text">
    </div>
    <button type="submit" name="button">Add</button>
  </form>
</div>

<div class="well">
  <form action="/contact_edit/<%=@contact.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-danger" type="submit" name="button">Delete <%=@contact.name%>?</button>
  </form>
</div>
