<div class="well">
  <h3>Edit the info for <%= @opening.name %>.</h3>
  <form class="form-horizontal" action="/opening_edit/<%= @opening.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="<%= @opening.name %>">
    </div>
    <div class="form-group">
      <label for="location">Location:</label>
      <input type="text" id="location" name="location" value="<%= @opening.location %>">
    </div>
    <div class="form-group">
      <label for="desc">Description:</label>
      <input type="text" id="desc" name="desc" value="<%= @opening.desc %>">
    </div>
    <div class="form-group">
      <label for="salary">Salary:</label>
      <input type="number" id="salary" name="salary" min="0" value="<%= @opening.salary %>">
    </div>
    <div class="form-group">
      <label for="link">Link:</label>
      <input type="text" id="link" name="link" value="<%= @opening.link %>">
    </div>
    <div class="form-group">
      <h4>Change applied status:</h4>
      <% if @opening.applied == true %>
      <label for="applied"><input type="radio" name="applied" value= false> False</label>
      <br>
      <% else %>
      <label for="applied"><input type="radio" name="applied" value= true > True</label>
      <% end %>
    </div>
    <% if @organizations_edit.any? %>
      <div class="form-group">
        <h4>Associated Organization:</h4>
        <select name="organization_id">
          <option value="<%= @opening.organization.id %>"><%= @opening.organization.name %></option>
          <% @organizations_edit.each do |organization| %>
            <option value="<%= organization.id %>"><%= organization.name %></option>
          <% end %>
        </select>
      </div>
    <% end %>
    <% if @contacts.any? %>
      <div class="form-group">
        <h4>Contacts for this opening:</h4>
        <% @opening.not_contact.each do |contact| %>
        <label for="contact_ids[]"><%= contact.name %>  <input type="checkbox" id="contact_ids[]" name="contact_ids[]" value="<%= contact.id %>"></label>
        <% end %>
      </div>
    <% end %>
    <% if @tags.any? %>
      <div class="form-group">
        <h4>Categories/Tags:</h4>
        <% @opening.not_tag.each do |tag| %>
        <label for="tag_ids[]"><%= tag.name %> <input type="checkbox" id="tag_ids[]" name="tag_ids[]" value="<%= tag.id %>"></label>
        <% end %>
      </div>
    <% end %>
    <button class="btn btn-info" type="submit" name="button">Submit</button>
  </form>
  <div class="form-group">
    <form class="" action="/opening_note" method="post">
      <input type="hidden" name="opening_id" value="<%= @opening.id %>">
      <label for="text">Add Notes:</label>
      <input type="text" id="text" name="text">
      <button class="btn" type="submit" name="button">Add</button>
    </form>
  </div>
</div>

<div class="well">
  <form class="form-horizontal" action="/opening_event" method="post">
    <input type="hidden" name="opening_id" value="<%= @opening.id %>">
    <label for="date">Add event date:</label>
    <input type="date" id="date" name="date">
    <label for="note">Brief description and time:</label>
    <input type="text" id="note" name="note">
    <button type="submit" class="btn">Submit</button>
  </form>
</div>

<div class="well">
  <form class="" action="/open_tag_delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="opening_id" value="<%= @opening.id %>">
<% if @opening.tags.any? %>
  <div class="form-group">
    <h4>Select tags to remove:</h4>
    <% @opening.tags.each do |tag| %>
    <label for="tag_ids[]"><%= tag.name %> <input type="checkbox" id="tag_ids[]" name="tag_ids[]" value="<%= tag.id %>"></label>
    <% end %>
  </div>
  <button type="submit" name="button" class="btn">Delete Selected</button>
  <% end %>
  </form>

  <br>
  <form action="/opening_edit/<%=@opening.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn" type="submit" name="button">Delete <%=@opening.name%>?</button>
  </form>
</div>
