<div class="well">

  <% if @organizations.any? %>
    <h3>All organizations:</h3>
    <ul class="list-inline">
      <% @organizations.each do |organization| %>
        <li><a href="/single_organization/<%= organization.id %>"><%= organization.name %></a></li>
      <% end %>
    </ul>
  <% else %>
      <h3>You have not added any organizations yet.</h3>

  <% end %>
</div>

<div class="well">
  <form class="form-horizontal" action="/organizations/new" method="post">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
    </div>
    <div class="form-group">
      <label for="headquarters">Location:</label>
      <input type="text" id="headquarters" name="headquarters">
    </div>
    <div class="form-group">
      <label for="desc">Description:</label>
      <input type="text" id="desc" name="desc">
    </div>
    <div class="form-group">
      <label for="link">Link:</label>
      <input type="url" id="link" name="link">
    </div>
    <% if @contacts.any? %>
      <div class="form-group">
        <h4>Contacts for this opening:</h4>
        <% @contacts.each do |contact| %>
        <label for="contact_ids[]"><%= contact.name %> <input type="checkbox" id="contact_ids[]" name="contact_ids[]" value="<%= contact.id %>"></label>
        <% end %>
      </div>
        <% end %>
    <div class="form-group">
      <h4>Categories/Tags:</h4>
      <% @tags.each do |tag| %>
      <label for="tag_ids[]"><%= tag.name %> <input type="checkbox" id="tag_ids[]" name="tag_ids[]" value="<%= tag.id %>"></label>
      <% end %>
    </div>
    <button class="btn " type="submit" name="button">Submit</button>
  </form>
</div>
