<% if @organizations.any? %>
<div class="well">
  <ul>
    <% @organizations.each do |organization| %>
    <li><a href="/organizations/<%= organization.id %>"><%= organization.name %></a></li>
    <ul>
      <% organization.tags.each do |tag| %>
      <li><%= tag.name %></li>
      <% end %>
    </ul>
    <% end %>
  </ul>
</div>
<% end %>
<div class="well">
  <form class="form-horizontal" action="/organizations/new" method="post">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
    </div>
    <div class="form-group">
      <label for="headquarters">Location:</label>
      <input type="text" id="headquarters" name="headquarters">
    </div>
    <div class="form-group">
      <label for="desc">Description:</label>
      <input type="text" id="desc" name="desc">
    </div>
    <div class="form-group">
      <label for="link">Link:</label>
      <input type="text" id="link" name="link">
    </div>
    <div class="form-group">
      <h4>Categories/Tags:</h4>
      <% @tags.each do |tag| %>
      <label for="tag_ids[]"><%= tag.name %> <input type="checkbox" id="tag_ids[]" name="tag_ids[]" value="<%= tag.id %>"></label>
      <% end %>
    </div>
    <button class="btn btn-info" type="submit" name="button">Submit</button>
  </form>
</div>
