<div class="well">
  <ul class="list-inline">
  <% if @contact.tags.any? %>
      <% @contact.tags.each do |tag| %>
      <li><a href="/single_tag/<%=tag.id%>"><%= tag.name %></a></li>
      <% end %>
  <% end %>
  </ul>
</div>

<div class="well">
  <h2><%= @contact.name %></h2>
  <h4><%= @contact.title %></h4>
</div>

  <div class="col-xs-6 well min">
    <ul>
    <% if @contact.organizations.any? %>
      <h6>Organizations:</h6>
        <% @contact.organizations.each do |org| %>
        <li> <a href="/single_organization/<%=org.id%>"><%=org.name%></a></li>
        <% end %>
    <% end %>
    </ul>
    <ul>
      <h6>Address:</h6>
      <li><%= @contact.address %></li>
      <h6>Phone:</h6>
      <li><%= @contact.phone %></li>
      <h6>Email:</h6>
      <li><%= @contact.email %></li>
      <h6>Linkedin:</h6>
      <li><a href="<%= @contact.linkedin %>" target="_blank"><%= @contact.linkedin %></a></li>
    </ul>
  </div>
  <div class="col-xs-6 well min">
    <h4>Events:</h4>
    <% if @contact.calendars.any? %>
      <ul>
        <% @contact.calendars.each do |date| %>
        <li><%= date.date %>, <%= date.notes %></li>
        <% end %>
      </ul>
    <% end %>
    <ul>
      <h6>Context:</h6>
      <li><%= @contact.context %></li>
      <h6>Notes:</h6>
      <ul>
      <% @contact.notes.each do |note| %>
        <li><%= note.text %></li>
      <% end %>
      </ul>
    </ul>
  </div>


<button type="button" class="btn btn-block">Edit this contact:<a href="/single_contact/edit/<%= @contact.id %>"> CLICK HERE </a> to add events, tags, or change information.</button>
