<div class="well">
  <ul class="list-inline">
  <% if @organization.tags.any? %>
      <% @organization.tags.each do |tag| %>
      <li><a href="/single_tag/<%=tag.id%>"><%= tag.name %></a></li>
      <% end %>
  <% end %>
</ul>
</div>
<div class="well">
  <h2><%= @organization.name %></h2>
  <h3><%=@organization.headquarters%></h3>
  <h3><%=@organization.link%></h3>
  <h3><%=@organization.desc%></h3>
</div>
<div class="well row">
  <div class="col-xs-6">
    <% if @organization.openings.any? %>
      <h3>All openings:</h3>
      <ul>
        <% @organization.openings.each do |opening| %>
          <li><a href="/single_opening/<%=opening.id%>"><%= opening.name %></a></li>
          <% end %>
      </ul>
    <% else %>
      <h3>No openings listed yet.</h3>
    <% end %>
  </div>
  <div class="col-xs-6">
    <% if @organization.contacts.any? %>
      <h3>All contacts:</h3>
      <ul>
        <% @organization.contacts.each do |contact| %>
          <li><a href="/single_contact/<%=contact.id%>"><%= contact.name %></a></li>
          <% end %>
      </ul>
    <% else %>
      <h3>No contacts listed yet.</h3>
    <% end %>
  </div>
</div>
  <button type="button" class="btn btn-standard btn-block"><a href="/single_organization/edit/<%= @organization.id %>">Edit this organization</a></button>
