<div class="well">
  <ul class="list-inline">
  <% if @organization.tags.any? %>
      <% @organization.tags.each do |tag| %>
      <li><a href="/single_tag/<%=tag.id%>"><%= tag.name %></a></li>
      <% end %>
  <% else %>
    <h3>No tags yet.</h3>
  <% end %>
</ul>
</div>
<div class="well">
  <h2><%= @organization.name %></h2>
  <h3><%=@organization.headquarters%></h3>
  <a href="<%=@organization.link%>" target="_blank"><h3><%=@organization.link_display%>...</h3></a>
  <h3><%=@organization.desc%></h3>
</div>

  <div class="col-xs-4 well min">
    <% if @organization.openings.any? %>
      <h3>All openings:</h3>
      <ul>
        <% @organization.openings.each do |opening| %>
          <li><a href="/single_opening/<%=opening.id%>"><%= opening.name %></a></li>
          <% end %>
      </ul>
    <% else %>
      <h3>No openings listed yet.</h3>
    <% end %>
  </div>
  <div class="col-xs-4 well min">
    <% if @organization.contacts.any? %>
      <h3>All contacts:</h3>
      <ul>
        <% @organization.contacts.each do |contact| %>
          <li><a href="/single_contact/<%=contact.id%>"><%= contact.name %></a></li>
          <% end %>
      </ul>
    <% else %>
      <h3>No contacts listed yet.</h3>
    <% end %>
  </div>
  <div class="col-xs-4 well min">
    <h4>Events:</h4>
    <% if @organization.calendars.any? %>
      <ul>
        <% @organization.calendars.each do |date| %>
        <li><%= date.date %>, <%= date.notes %></li>
        <% end %>
      </ul>
    <% end %>
  </div>



  <button type="button" class="btn btn-block">Edit this organization: <a href="/single_organization/edit/<%= @organization.id %>">CLICK HERE </a>to add tags, openings, contacts, etc.</button>
